<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2fc6da9d-1740-4faf-b22c-7071e992652d/resourceGroups/FeaturedProjects/providers/Microsoft.Web/sites/FeaturedProjects</ResourceId>
    <ResourceGroup>FeaturedProjects</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://featuredprojects.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>featuredprojects.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FeaturedProjects</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FeaturedProjects</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProjectsConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:whiltdb.database.windows.net,1433;Initial Catalog=FeaturedProjects;Persist Security Info=False;User ID=whiltadmin;Password=Dominaromundo123*@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FeaturedProjects.Models.Database.FPContext, FeaturedProjects" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProjectsConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:whiltdb.database.windows.net,1433;Initial Catalog=FeaturedProjects;Persist Security Info=False;User ID=whiltadmin;Password=Dominaromundo123*@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProjectsConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:whiltdb.database.windows.net,1433;Initial Catalog=FeaturedProjects;Persist Security Info=False;User ID=whiltadmin;Password=Dominaromundo123*@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProjectsConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:whiltdb.database.windows.net,1433;Initial Catalog=FeaturedProjects;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>